html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Dosis", sans-serif;
	/* font-size: clamp(1.5rem, 8vw - 2rem, 3rem); */
	/* overflow: hidden; */
}

:root {
	/* --background-header: #CFE3E3; */
	--active-nav: #d1d5f4;
	--background-header: #272343;
	--background-miniheader: #e5e8fa;
	--height-header: 7vh;
	/* --background: linear-gradient(180deg, rgba(207, 227, 227, 1) 11%, rgba(226, 227, 230, 1) 62%, rgba(127, 166, 219, 1) 93%); */
	--background: #272343;
	--purple-1: #f1f3fc;
	--purple-2: #e5e8fa;
	--purple-3: #d1d5f4;
	--purple-4: #b4baed;
	--purple-5: #9697e3;
	--purple-6: #817cd8;
	--purple-7: #7062c9;
	--purple-8: #6052b0;
	--purple-9: #433d72;
	--purple-10: #272343;
	--color-dark-transparent: #2723434d;
	--text-wrapper-movie: #f1f3fc;

	/* spacing margins/paddings */
	--spacing-sm-xs: 5px;
	--spacing-sm: calc(var(--spacing-sm-xs) + 2px);
	--spacing-sm-xl: calc(var(--spacing-sm-xs) + 5px);
	--spacing-md-xs: 12px;
	--spacing-md: calc(var(--spacing-md-xs) + 2px);
	--spacing-md-xl: calc(var(--spacing-md-xs) + 5px);
	--spacing-lg-xs: 20px;
	--spacing-lg: calc(var(--spacing-lg-xs) + 2px);
	--spacing-lg-xl: calc(var(--spacing-lg-xs) + 5px);

	/* spacing letters */
	--spacing-letter-xxs: .5px;
	--spacing-letter-xs: 1px;
	--spacing-letter: 1.2px;
	--spacing-letter-md: 1.5px;

	/* font sizes */
	--font-sm: 1rem;
	--font-md: 1.5rem;
	--font-movil: 1.8rem;
	--font-tablet: calc(8vw - 2rem);
	--font-desktop: 3rem;

	/* border radius */
	--border-radius-sm-xs: 5px;
	--border-radius-sm: 7px;
	--border-radius-md-xs: 10px;
	--border-radius-md: 15px;
	--border-radius-lg-xs: 20px;
	--border-radius-lg: 25px;


	/* BOX-SHADOW */
	--shadow-color: var(--purple-8);
	--text-shadow: -1px 0px 1px var(--purple-9);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-large: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11);

}

[data-theme='light'] {
	--background: #f1f3fc;
	--purple-1: #433d72;
	--purple-2: #272343;
	--purple-3: #433d72;
	--purple-4: #272343;
	--purple-5: #817cd8;
	--purple-9: #b4baed;
	--purple-10: #e5e8fa;

	/* --shadow-color: var(--purple-5);
	--text-shadow: -1px 0px 1px var(--purple-9);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-large: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.11),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.11),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.11); */

}

/*** ICONS ***/

.icon-tabler-nav {
	stroke: #9697e3;
	width: 35;
	height: 35px;
	stroke-width: 1.5px;
}

/*** ANIMATIONS ***/



@-webkit-keyframes rotate-item {
	0% {
		-webkit-transform: scale(0) rotateZ(0);
		transform: scale(0) rotateZ(0);
	}

	50% {
		-webkit-transform: scale(1) rotateZ(180deg);
		transform: scale(1) rotateZ(180deg);
	}

	100% {
		-webkit-transform: scale(1) rotateZ(-180deg);
		transform: scale(1) rotateZ(-180deg);
	}
}

@keyframes rotate-item {
	0% {
		-webkit-transform: scale(0) rotateZ(0);
		transform: scale(0) rotateZ(0);
	}

	50% {
		-webkit-transform: scale(1) rotateZ(180deg);
		transform: scale(1) rotateZ(180deg);
	}

	100% {
		-webkit-transform: scale(1) rotateZ(-180deg);
		transform: scale(1) rotateZ(-180deg);
	}
}